@page
@model RCLExample.XRCLLib.Pages.SampleComponentModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample component</title>
</head>
<body>
    <h1>This is the SampleComponent from the RCL</h1>
</body>
</html>
