@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>the grey background comes from the RCL</p>
    <p>
        <a href="SampleComponent">Load the sample component from RCLExample.XRCLLib</a>
    </p>
    <p>
        <a href="api/WeatherForecast">Call the sample API controller</a>
    </p>
</div>
